*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #008f7a;
    color: #fff;
    padding: 0.5rem 1rem;
}
.navbar h1{
    font-size: 40px;
}
.search input{
    background-color: #c4fcef;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}
.search input:focus{
    outline: none;
    /* color: #000; */
    /* font-weight: 700; */
}
.container{
    width: 60%;
    margin: auto;
}
.enter-notes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px; 
}
/* .notes h1{
    font-size: ;
} */
.enter-notes textarea{
    /* height: 150px; */
    border: 1px solid #ccc;
    border-radius: 10px; 
    padding: 5px 10px;
    font-size: 16px;
}
.enter-notes textarea:focus{
    outline: 1px solid #c4fcef;
}
.btn{
   width: 120px;
   background-color: #008f7a;
   padding: 5px 10px;
   border: none;
   border-radius: 5px;
   color: #fff;
   font-size: 20px;
   margin-bottom: 10px;
}
.showNotes{
    display: flex;
    gap: 15px;
    padding: 5px 10px;
    margin: 20px 0;
    /* border: 1px solid #ccc; */
    border-radius: 10px; 
    flex-wrap: wrap;
}
.notes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 180px;
    padding: 5px 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px; 
    background-color: #c4fcef;
}
.notes .btn{
    width: 60px;
    font-size: 12px;
}
.greeting{
    font-size: 50px;
    text-align: center;
}
